<template name="index">
  <div class="container index-container">
    <div class="ui container grid">
      <div class="row index-icon-row">
        <div class="sixteen wide column">
          <img class="ui tiny circular image center-content" src="http://www.iconarchive.com/download/i3228/arrioch/whack/Whack-Windows-Live-Messenger.ico">
        </div>
      </div>
    </div>

    <div class="index-button-wrapper">
      <div class="ui container grid">
        <div class="one column centered row index-login-row">
          <div class="column zero-padding">
            <div class="ui fluid button index-login-button">
              Log In
            </div>
          </div>
        </div>

        <div class="one column centered row index-register-row">
          <div class="column zero-padding">
            <div class="ui fluid button index-register-button">
               Register
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
