.tab-item.active {
  color:#039BE5 !important;
}

.page-container {
  height:100vh;
}

.sidebar-container {
  margin-top:-7px !important;
}

.sidebar-row {
  padding-top:0 !important;
  border-top:1px solid white;
}

.sidebar-name {
  color:white;
}

.sidebar-remove-button {
  color:red !important;
}
