<template name="login">

	<div class="container login-container">

		<div class="bar bar-header bar-stable">
			<button class="button button-icon icon ion-ios-close-empty close-button"></button>
			<h2 class='title'>Log In</h2>
		</div>

		<div class="ui container grid">
			<div class="one column row login-email-number-row">
				<div class="column zero-padding">
					<div class="ui fluid input">
					  <input type="text" name="username" placeholder="email or mobile">
					</div>
				</div>
			</div>

			<div class="one column row login-password-row">
				<div class="column zero-padding">
					<div class="ui fluid input">
						<input type="password" name="password" placeholder="password">
					</div>
				</div>
			</div>

			<div class="one column row">
				<div class="column">
					<div class="ui fluid button login-button">
						Login
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
