.add-group-input-section {
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

.add-group-list {
  padding-top:50px !important;
}

.add-group-item {
  background:transparent !important;
  padding-left:0 !important;
  margin-left:1em !important;
  margin-right:1em !important;
}

.add-group-select {
  background:transparent !important;
}

.add-group-content {
  resize:none;
  border:1px solid #f2f2f2;
  border-radius:20px;
}
